 <!--form_with部分-->
<%= form_with model: [:admin, @item], url: admin_item_path do |f| %>
<div class="container">
  <div class="mt-4">
    <div class="text-center">
      <%= render 'layouts/errors', obj: @item %>
       <h5 class="ml-5 mb-5"><span class="title-custom px-4">商品編集</span></h5>
         
                <table class="col-10 mt-5 mx-auto">
          <div class="table-responsive">
       <tr><th>商品画像</th>
         <td><%= f.file_field :image, accept: "image/*" %></td></tr>
        <tr>
         <th><%=f.label :"商品名"%></th>
         <td><%=f.text_field :name %></td></tr>
         <tr>
          <th><%= f.label :"商品説明" %></th>
         <td><%= f.text_area :description %></td></tr>
          <tr>
          <th><%= f.label :"ジャンル" %></th>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %></td></tr>
        <tr>
         <th><%= f.label :"税抜き価格" %></th>
        <td><%= f.text_field :price %>円</td></tr>
        <tr>
         <th><%= f.label :"販売ステータス"%></th>
        <td><%= f.radio_button :is_selled, "true" %>
            <%= f.label :is_selled, "販売中" %>
    <%= f.radio_button :is_selled, "false" %>
    <%= f.label :is_selled, "販売停止中" %></td></tr>
       </table>
       <!--保存ボタン-->
         <div class="text-center">
        <%= f.submit "編集を保存", class:"btn btn-success"%>
      </div>
        
        <% end %>
    
         </div>
          </div>
