<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="mt-4">
    <div class="text-center">
        <h2>商品編集</h2>
          <div class="table-responsive">
                <table class="col-10 mt-5 mx-auto">
        <%= form_with model: @item, url: admin_item_path(@item), method: :patch do |f| %>
       <tr> <th>商品画像</th>
         <td><%= f.file_field :image, accept: "image/*" %></td></tr>
        <tr>
         <th><%=f.label :"商品名"%></th>
         <td><%=f.text_field :name %></td></tr>
         <tr><th><%= f.label :"商品説明" %></th>
         <td><%= f.text_area :description %></td></tr>
          <tr>
          <th><%= f.label :"ジャンル" %></th>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %></td>
        </tr>
        <tr><th><%= f.label :"税抜き価格" %></th>
        <td><%= f.text_field :price %></td></tr>
        <tr><th><%= f.label :"販売ステータス"%></th>
        <td></td></tr>
    
        </table>
         <div class="text-center">
        <%= f.submit "保存" %>
      </div>
        
        <% end %>
    
         </div>
          </div>
