<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 col-sm-3">
       <h4 class="ml-5 mb-5"><span class="title-custom px-4">商品一覧</span></h4>
        </div>
        <div class="col-2 justify-content-end">
         <%= link_to "追加",new_admin_item_path, class: "btn btn-outline-primary" %>
          </div>
 <table class="table table-striped">
     <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜き価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
     </tr>
 <% @items.each do |item| %>
 <tr>
 <td><%= item.id %></td>
 <td><%= link_to item.name, admin_item_path(item) %></td>
 <td>￥<%=item.price.to_s(:delimited) %>円</td>
 <td><%= item.genre.name %></td>
 <td><% if item.is_selled %>販売中
     <% else %>販売停止中
     <% end %></td>
 </tr>
<%end%>
</table>
         </div>
 </div>