<div class="customer-group">
  <div class="title pt-4 ml-5 col-3">
    <h3 class="text-center bg-light"><%= "#{@customer.first_name}#{@customer.last_name}さんの会員情報" %></h3>
  </div>
  <div class="row pl-5">
  <table class="table table-borderless">
    <tr>
      <th class="col-3">会員ID</th>
      <td class="col-9"><%= @customer.id %></td>
    </tr>
    <tr>
      <th class="col-3">氏名</th>
      <td class="col-9"><%= @customer.first_name %><%= @customer.last_name %></td>
    </tr>
    <tr>
      <th class="col-3">フリガナ</th>
      <td class="col-9"><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
    </tr>
    <tr>
      <th class="col-3">郵便番号</th>
      <td class="col-9"><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th class="col-3">住所</th>
      <td class="col-9"><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="col-3">電話番号</th>
      <td class="col-9"><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <th class="col-3">メールアドレス</th>
      <td class="col-9"><%= @customer.email %></td>
    </tr>
    <tr>
      <th class="col-3">会員ステータス</th>
      <% if @customer.is_deleted == false %>
      <td class="col-9 text-success">有効</td>
      <% else %>
      <td class="col-9 text-secondary">退会</td>
      <% end %>
    </tr>
  </table>
  <div class="col-5 pl-5">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    <%= link_to "注文履歴一覧を見る", admin_order_path(@customer.id), class: "btn btn-primary" %>
  </div>
</div>
</div>
</div>