<div class="container">
  <div class="row pt-5">
    <div class="title pt-4 ml-5">
      <h3 class="text-center bg-light"><%= "#{@customer.last_name}#{@customer.first_name}さんの会員情報" %></h3>
    </div>
  </div>
  <div class="row pl-5">
    <div class="col-8">
    <table class="table table-borderless">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <% if @customer.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td class="text-secondary">退会</td>
        <% end %>
      </tr>
    </table>
    </div>
  </div>
  <div class="text-center">
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
        <%= link_to "注文履歴一覧を見る", admin_order_path(@customer.id), class: "btn btn-primary" %>
  </div>
</div>
