<div class="container">
  <div class="row">
    <div class="title pt-4 ml-5 col-3">
      <h3 class="text-center bg-light">注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th class="col-3">購入者</th>
        <td class="col-9"><%=@order.customer.customer_name %></td>
      </tr>
      
      <tr>
        <th class="col-3">注文日</th>
        <td cladd="col-9"><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      </tr>
      <tr>
        <th class="col-3">配送先</th>
        <td class="col-9"><%= @order.address1 %></td>
      </tr>
      <tr>
        <th class="col-3">支払方法</th>
        <td class="col-9"><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th class="col-3">注文ステータス</th>
        <td class="col-9">
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses_i18n.invert %>
            <%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @order_details.each do |order_detail| %>
              <%= form_with model: order_detail, url: admin_order_detail_path, method: :patch do |f| %>
                <td><%= order_detail.item.name %></td>
                <td><%= number_with_delimiter(order_detail.item.tax_price) %></td>
                <td><%= order_detail.quantity %></td>
                <td><%= number_with_delimiter(order_detail.total_price) %></td>
                <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %></td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td>
          </tr>
              <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-end col-5">
      <table class="tabel table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= number_with_delimiter(@product_total) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= number_with_delimiter(@order.postage) %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <th><%= number_with_delimiter(@order.billing_amount) %>円</th>
        </tr>
      </table>
    </div>
  </div>
</div>
    