<div class="container">
    <% if admin_signed_in? %>
    <div class='col-md-10'>
      <h2><%= @word %>の検索結果</h2>
      <p>[全<%= @customers.count %>件]</p>
      <table class ="table">
      <tr bgcolor="#bc8f8f">
        <td>会員ID</td>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to admin_customer_path(customer) do %><%= customer.customer_name %><% end %></td>
            <td><%= customer.email %></td>
          <% if customer.is_deleted == false %>
            <td style = "color: #4ec51e;">有効</td>
          <% else %>
            <td style = "color: #ff3838;">退会</td>
          <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <% else %>
    <div class="row">
    <div class='col-md-10'>
      <h2><%= @word %>の検索結果</h2>
        <p>[全<%= @items.count %>件]</p>
      <div class ="item-box">
        <div class = "row">
        <% @items.each do |item| %>
          <div class ="col-md-3 mb-3 text-center p-2">
            <div class="lineTrigger lineanime">
              <div class="line2">
                <div class="lineinappear">
                  <a href="/items/<%= item.id %>" class="card h-100 m-0"
                    style="background-color: #003366; text-decoration: none;">
                    <%= image_tag item.get_image(150,150), class: "item-image-card mt-1 mx-auto" %><br>
                    <div class ="card-body" style="background-color: #003366;">
                    <strong class = "gold card-title"><%= item.name %></strong>
                      <p class="gold card-text">¥<%= item.tax_price.to_s(:delimited) %></p>
                    </div>
                    <% if item.is_selled == "sale" %>
          <p style = "color: #ffffff;">販売中</p>
        <% else %>
          <p style = "color: #ff3838;">売切れ</p>
        <% end %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>