<div class="container d-flex">

  <div class="col-6 d-flex">
    <row>
      <div class="m-3">
        <div>
          <h3 class="my-3"><strong><%= @item.name %></strong></h3>
        </div>
        <div>
          <h4 class="my-3 pt-2"><%= @item.description %></h4>
        </div>
        <div class="d-flex align-items-end my-5">
          <h3>￥<%= p @item.tax_price.to_s(:delimited) %></h3>
          <h5>（税込）</h5>
        </div>
      </div>
    <% if customer_signed_in? && @item.is_selled == "sale" %>
      <%= form_with model: @cart_item do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <p class = "pt-3">
        <%= f.submit "カートに入れる"%>
        <%= f.select :amount, *[1..10] %>
        </p>
        <% end %>
      <% else %>
        <% if @item.is_selled == "sale" %>
          <p style = "color: #63ed01;">販売中</p>
        <% else %>
          <p style = "color: #ff89b1;">売切れ</p>
      <% end %>
    <% end %>
    </row>
  </div>
</div>